html, body{width: 100%;height: 100%; padding: 0; margin: 0; box-sizing: border-box; z-index: 0}
#leftMenu{
  display: none;
  background-color: red;
  width: 20%;
  padding: 100px 0 0;
  box-sizing: border-box;
  margin: 0;
  z-index: 2;
  position: fixed;
  height: 100%;
}
#menuIcon{
  width: 50px;
  height: 50px;
  margin: 10px 0 0 10px;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  z-index: 3
}
#closeIcon{
  display: none;
  width: 50px;
  height: 50px;
  margin: 10px 0 0 10px;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  z-index: 3;
}
#leftMenu{
  background: rgba(196,238,248,1);
  background: -moz-linear-gradient(left, rgba(196,238,248,1) 0%, rgba(103,199,228,0.52) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(196,238,248,1)), color-stop(100%, rgba(103,199,228,0.52)));
  background: -webkit-linear-gradient(left, rgba(196,238,248,1) 0%, rgba(103,199,228,0.52) 100%);
  background: -o-linear-gradient(left, rgba(196,238,248,1) 0%, rgba(103,199,228,0.52) 100%);
  background: -ms-linear-gradient(left, rgba(196,238,248,1) 0%, rgba(103,199,228,0.52) 100%);
  background: linear-gradient(to right, rgba(196,238,248,1) 0%, rgba(103,199,228,0.52) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4eef8', endColorstr='#67c7e4', GradientType=1 );
}

#leftMenu{font-size: 20px;}
#respon{padding: 0;margin: 0;z-index: 1; width: 100%; height: 100%; clear: both;}
#logo{
  z-index: 9;
  position: fixed;
  margin: 0 0 0 60%;
  padding: 0;
  float: right;
}
.content{padding: 10px; width: 100%;}
.content:hover{cursor: pointer;}

.slideshow-container{width: 100%; height: 100%;position: fixed; margin: 0; padding: 0; box-sizing: border-box;z-index: 1}
.Slides{display: none;height: 100%; width: 100%; margin: 0; padding: 0; box-sizing: border-box;}
.Slides img{height: auto;width: 100%; margin: 0; padding: 0; box-sizing: border-box;}
.fadeOut{
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-name: fadeOut;
  animation-duration: 1s;
}

.contentDropdown{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.dropbtn{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

@-webkit-keyframes fadeOut {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeOut {
  from {opacity: 0}
  to {opacity: 1}
}

.fadeIn{
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@-webkit-keyframes fade-out{
  from{opacity: 1}
  to {opacity: 0}
}

@keyframes fade-out{
  from{opacity: 1}
  to {opacity: 0}
}

.rotateOut{
  -webkit-animation-name: rotateOut;
  -webkit-animation-duration: 2s;
  animation-name: rotateOut;
  animation-duration: 2s;
}

@-webkit-keyframes rotateOut{
  from{
    -webkit-transform: rotate(0deg) scale(1);
  }
  to{
    -webkit-transform: rotate(360deg) scale(0);
  }
}
@keyframes rotateOut{
  from{
    transform: rotate(0deg) scale(1);
  }
  to{
    transform: rotate(360deg) scale(0);
  }
}

.rotateIn{
  -webkit-animation-name: rotateIn;
  -webkit-animation-duration: 1s;
  animation-name: rotateIn;
  animation-duration: 1s;
}

@-webkit-keyframes rotateIn{
  from{
    -webkit-transform: rotate(360deg) scale(0);
  }
  to{
    -webkit-transform: rotate(0deg) scale(1);
  }
}
@keyframes rotateIn {
    from{
      transform: rotate(360deg) scale(0);
    }
    to{
      transform: rotate(0deg) scale(1);
    }
}

.moveDown{
  -webkit-animation-name : moveDown;
  -webkit-animation-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  animation-name: moveDown;
  animation-duration: 1s;
  transition-timing-function: ease-out;
}

@-webkit-keyframes moveDown{
  from{
    -webkit-transform: translate(0, -100%);
  }to{
    -webkit-transform: translate(0, 0);
  }
}

@keyframes moveDown{
  from{
    transform: translate(0, -100%);
  }
  to{
    transform: translate(0, 0);
  }
}

.moveUp{
  -webkit-animation-name: moveUp;
  -webkit-animation-duration: 1s;
  -webkit-transition-timing-function: ease-in
  animation-name: moveUp;
  animation-duration: 1s;
  transition-timing-function: ease-in;
}

@-webkit-keyframes moveUp{
  from{
    -webkit-transform: translate(0, 0);
  }
  to{
    -webkit-transform: translate(0, -100%);
  }
}
@keyframes moveUp{
  from{
    transform: translate(0, 0);
  }
  to{
    transform: translate(0, -100%);
  }
}

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
